

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 200px;
  width: 200px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 200px;
  width: 200px;
  margin: auto;
  align-self: center;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 200px;
  width: 200px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 200px;
  width: 200px;
}

.footer-part{
  
  text-align: center;
}

#map-row{
  margin: auto;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  margin: 0;
}

.details{
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}
.list{
  margin: 0px;
  padding: 0;
}
